<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

<div class="wrapper">
  <div class="payment">
    <h2>BIENVENIDO</h2>
    <div class="form">
      <div class="alineame space icon-relative">
        <label class="label">Factcheckuy Perifericos</label>
       
      </div>
      <div class="alineame space icon-relative">
        <label class="label">POR FAVOR LOGEATE.</label>
        
      </div>
      	<div class="btnn">
			<button class="btnnn" type="button" (click)="Login()">LOGIN</button>	
		</div>
      <a href="">Volver a Factcheckuy</a>
    </div>
  </div>
</div>